# Ignore data folder
data/

# Ignore python swp and cache
code/scripts/*.swp
code/scripts/__pycache__
code/thickness_analysis/*.swp
code/thickness_analysis/__pycache__
code/utils/*.swp
code/utils/__pycache__

# Ignore asv files
code/segmentation/*.asv
code/utils/*.asv
code/structure_tensor/*.asv
code/thickness_analysis/*.asv
