# Ignore data folder
data/

# Ignore python swp and cache
code/*.swp
code/__pycache__
code/thickness_analysis/*.swp
code/thickness_analysis/__pycache__

# Ignore asv files
code/segmentation/img_processing/*.asv
code/segmentation/utils/*.asv
code/structure_tensor/*.asv
code/thickness_analysis/*.asv
